@import "tailwindcss";

@theme {
    --color-primary: #6E62B1;
    --color-primary-light: #F3F2FA;
    --color-dark: #1A1426;
    --color-border-light: #E5E5E5;
    --font-sans: "Inter", sans-serif;
    --font-display: -apple-system, 'SF Pro Display', sans-serif;
    --font-alt: "Jacques Francois", serif;
}

@layer utilities {
    .hide-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .btn-shadow {
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.40);
        text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.40);
    }
}